<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "
-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dlgateway.persist.dao.DlLoadBalanceMapper">
	<resultMap id="BaseResultMap"
		type="com.danlu.dlgateway.persist.entity.DlLoadBalance">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="port" property="port" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_person" property="createPerson"
			jdbcType="VARCHAR" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP" />
		<result column="update_person" property="updatePerson"
			jdbcType="VARCHAR" />
		<result column="logic_delete_flag" property="logicDeleteFlag"
			jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, project_id, ip, port, status, create_person, gmt_create, gmt_update,
		update_person,logic_delete_flag
	</sql>
	
	<!-- 查询语句汇总 -->
	<sql id="selectByParamsWhere">
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR} and
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=VARCHAR} and
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR} and
			</if>
			<if test="port != null">
				port = #{port,jdbcType=VARCHAR} and
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR} and
			</if>
			<if test="logicDeleteFlag != null">
				logic_delete_flag = #{logicDeleteFlag,jdbcType=INTEGER} and
			</if>
			1 = 1
		</where>
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dl_load_balance
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectByProjectIdAndOtherParam" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from dl_load_balance
		<include refid="selectByParamsWhere" />
	</select>
	
	
	

	<!-- 插入对象   -->
	<insert id="insert" parameterType="com.danlu.dlgateway.persist.entity.DlLoadBalance">
		insert into dl_load_balance (id, project_id, ip,
		port, status, create_person,
		gmt_create, gmt_update, update_person,logic_delete_flag
		)
		values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR},
		#{port,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR},
		NOW(), NOW(),
		#{updatePerson,jdbcType=VARCHAR},#{logicDeleteFlag,jdbcType=INTEGER}
		)
	</insert>
	

	<!-- 有选择更新字段 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.danlu.dlgateway.persist.entity.DlLoadBalance">
		update dl_load_balance
		<set>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="port != null">
				port = #{port,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
				gmt_update = NOW(),
				update_person = #{updatePerson,jdbcType=VARCHAR}		
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新操作 -->
	<update id="updateByPrimaryKey" parameterType="com.danlu.dlgateway.persist.entity.DlLoadBalance">
		update dl_load_balance
		set project_id = #{projectId,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		port = #{port,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		gmt_update =NOW(),
		update_person = #{updatePerson,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR} 
	</update>
	
		<!-- 根据主键删除  -->
	<update id="deleteByPrimaryKey" parameterType="java.util.Map">
		update dl_load_balance 
		set logic_delete_flag=#{deleteLogicDeleteFlag,jdbcType=INTEGER},
		gmt_update =NOW(),
		update_person = #{updatePerson,jdbcType=VARCHAR}
		<include refid="selectByParamsWhere"/>
	</update>
</mapper>